body{
    margin: 0;
    padding:0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border:border-box;
}
.navbar{
    height: 70px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image:url("amazon.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.border{
    border:2px solid transparent;
}
.border:hover {
    border:2px solid white;
}
.add-first{
color: #cccccc;
font-size: 0.85rem;
margin-left: 12px;
}
.add-sec{
    font-size: 1rem;
}
.add-icon{
display: flex;
align-items: center;
}

/* .{
    margin-top: -11px;
} */
.para p{
    margin-bottom:-17px;
}
.nav-search{
    display: flex;
    background-color: pink;
    width: 620px;
    height: 40px;
    justify-content: space-evenly;
    border-radius: 4px;
}
.nav-search:hover{
border:2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(248, 216, 60);
border-top-right-radius:4px;
border-bottom-right-radius:4px;
color: #0f1111;
}
span{
    font-size: 0.9rem;
    /* margin-top: -300vh; */
}
.add p{
margin-bottom: -15px;
}
.nav-second{
    font-size: 1rem;
    font-weight: 700px;
}
.nav-cart i{
    font-size: 40px;
}
.nav-cart{
  font-size: 1rem;  
  font-weight: bold;
}
.panel{
    height:40px;
background-color: #222f3d;
display: flex;
align-items: center;
justify-content: space-evenly;
color: #cccccc;
}
.panel-ops p{
    display: inline;
    margin-left: 50px;
    font-size:1rem;
    justify-content: space-evenly;
font-weight: bold;

}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 1.2rem;
    font-weight: 700px;
    font-weight: bold;
}
.hero-section img{
    width: 100%;
    height: 700px;
}

.hero-msg {
    /* background-color:rgb(241, 240, 240); */
    color: black;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.95;
    width: 100%;
    margin-top: -390px;
    font-weight: bold;
}
.hero-msg a{
    color: #276e77;

}
.shop-section{
    display: flex;
    justify-content: space-between;

}
.box{
   background-color: aliceblue;
    height: 400px;
    width: 24%;
    padding: 20px 0px 15px;
}
.box-img{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box-content p{
color: #007185;
}
.shop-need{
    display: flex;
    justify-content: space-between;
}
.box-imgg img{
    height: 300px;
    width: 420px;
    background-size: cover;
    background-repeat: no-repeat;
}
.large img{
    margin-top: 20px;
    width: 100%;
    height: 600px;
}
footer{
    margin-top: 15px;
}
.foot-panell{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85;
}
.foot-panel2{
background-color: #222f3d;
color: white;
height:400px ;
display: flex;
justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin: 15px;
    margin-top: 10px;
    font-size: 0.85rem;
    color: #dddddd;
}
h3{
    margin-left: 17px;
}
.foot-panel3{
    background-color: #222f3d;
    margin-top: -35px;
    color: white;
}
.logoo{
    background-image:url("amazon.png");
    background-size: cover;
    justify-content: center; 
     margin-left: 850px;
     align-items: center;
    height: 50px;
    width: 100px; 
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.9rem;
    text-align: center;

}
.pages{
    padding-top: 25px;
text-align: center;
padding-top: 25px;
}
.copyright{
    padding-top: 5px;
    font-size: 0.9rem;
    text-align: center;
}